layout python3

export CRIC_MATCH_URL='https://www.cricbuzz.com/live-cricket-scores/32047/eng-vs-ind-1st-test-india-tour-of-england-2021'
export TELEGRAM_BOT_TOKEN='<bot-token>'
export TELEGRAM_CHAT_ID='<chat-id>'